
body {
    height: 100vh;
}

nav {
    height: 4em;
}

main {
    height: calc(100% - 7em);
}

footer {
    height: 3em;
}

img {
    height: 100%;
    width: 100%;
}

.floorplan {
    position: absolute;
    object-fit: contain;
}

.floorplan_relative {
    position: relative;
    object-fit: contain;
}

.svg_purple {
    filter: invert(12%) sepia(91%) saturate(5345%) hue-rotate(275deg) brightness(68%) contrast(142%);
}

.svg_orange {
    filter: invert(35%) sepia(61%) saturate(3602%) hue-rotate(12deg) brightness(96%) contrast(101%);
}