
body {
    height: 100vh;
}

/* nav {
    height: 4em;
} */

main {
    height: calc(100% - 7em);
}

footer {
    height: 3em;
}

img {
    height: 100%;
    width: 100%;
    color: #ffffff00;
}

.floorplan {
    position: absolute;
    object-fit: contain;
    padding: 0%;
}

.relative {
    position: relative !important;
}

.svg_purple {
    filter: invert(12%) sepia(91%) saturate(5345%) hue-rotate(275deg) brightness(68%) contrast(142%);
}

.svg_orange {
    filter: invert(35%) sepia(61%) saturate(3602%) hue-rotate(12deg) brightness(96%) contrast(101%);
}

#room_buttons svg {
    height: 100%;
    max-width: 100%;
    text-align: center;
    aspect-ratio: 1;
}

#room_buttons {
    position: absolute;
    max-height: 100%;
    aspect-ratio: 1;
    /* width: 100%; */
}

polygon {
    fill: black;
    stroke: none;
    opacity: 0;
}

.offcanvas {
    --bs-offcanvas-height: 50vh;
}

.graph_div{
    height: 2rem;
}