{% extends "index.html" %}

{% block offcanvas_content %}
<div class="offcanvas offcanvas-bottom" data-bs-backdrop="false" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">Offcanvas</h5>
        <a type="button" class="btn-close" href="/"></a>
    </div>
    <div class="offcanvas-body py-xxl-0" id="offcanvas_inner">
        <div class="container">
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <th class="text-end w-50" scope="row">Requesting:</th>
                        <td class="text-start w-50"><span id="requesting">error</span></td>
                    </tr>
                    <tr>
                        <th class="text-end" scope="row">Heating:</th>
                        <td class="text-start"><span id="heating">error</span></td>
                    </tr>
                    <tr>
                        <th class="text-end" scope="row">Time heating:</th>
                        <td class="text-start"><span id="time_heating">error</span></td>
                    </tr>
                    <tr>
                        <th class="text-end" scope="row">Delay:</th>
                        <td class="text-start"><span id="delay">error</span></td>
                    </tr>
                </tbody>
            </table>
            <h5>Past hour:</h5>
            <div class="container p-0 graph_div" id="graph_div"></div>
        </div>
    </div>
</div>
{% endblock %}
{# <script> #}
{% block offcanvas_script %}
        var myOffcanvas = document.getElementById('offcanvasBottom');
        var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas);
        var offcanvas_inner = document.getElementById("offcanvas_inner");
        var is_requesting = document.getElementById("requesting");
        var is_heating = document.getElementById("heating");
        var time_heating = document.getElementById("time_heating");
        var time_delay = document.getElementById("delay");
        var offcanvas_title = document.getElementById("offcanvasBottomLabel");
        var graph = document.getElementById("graph_div");
        let roomname = loc.hash.slice(1);
        let graph_ip = loc.origin + "/_get_graph";
        let counter = 0
        if (loc.hash !== "") {
            bsOffcanvas.show();
        };
{% endblock %}

{% block run_update %}if (counter == 0) {
                updateGraph(graph_ip);
            }
            counter += 1;
            counter = counter % 10;{% endblock %}

{% block offcanvas_update %}
    offcanvas_title.innerHTML = jsonfile[roomname+"_name"];
    if (jsonfile[roomname+"_requesting"] == true) {
        is_requesting.innerHTML = "yes";
    } else {
        is_requesting.innerHTML = "no";
    };
    if (jsonfile[roomname+"_heating"] == true) {
        is_heating.innerHTML = "yes";
    } else {
        is_heating.innerHTML = "no";
    };
    if (jsonfile[roomname+"_time_heating"] !== "") {
        time_heating.innerHTML = jsonfile[roomname+"_time_heating"];
    } else {
        time_heating.innerHTML = "error";
    };
    if (jsonfile[roomname+"_delay"] !== "") {
        time_delay.innerHTML = jsonfile[roomname+"_delay"];
    } else {
        time_delay.innerHTML = "error";
    };
{% endblock %}

{% block offcanvas_graph %}
async function updateGraph(link) {
    fetch(link, { 
        method: "POST",
        signal: AbortSignal.timeout(1000),
        body: JSON.stringify({
            type: "one_hour",
            roomname: roomname
        }),
        headers: {"Content-type": "application/json; charset=UTF-8"}
    })
    .then((response) => {
        return response.text()
    })
    .then((svg_image) => {
        if (svg_image !== "") {
            graph.innerHTML = svg_image;
        } else {
            graph.innerHTML = "error";
        };
    })
};
{% endblock %}
{# </script> #}