{% extends "index.html" %}

{% block offcanvas_content %}
<div class="offcanvas offcanvas-bottom" data-bs-backdrop="false" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">Offcanvas</h5>
        <a type="button" class="btn-close" href="/"></a>
    </div>
    <div class="offcanvas-body" id="offcanvas_inner">
        <div class="container">
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <th class="text-end w-50" scope="row">Requesting:</th>
                        <td class="text-start w-50"><span id="requesting">error</span></td>
                    </tr>
                    <tr>
                        <th class="text-end" scope="row">Heating:</th>
                        <td class="text-start"><span id="heating">error</span></td>
                    </tr>
                    <tr>
                        <th class="text-end" scope="row">Time heating:</th>
                        <td class="text-start"><span id="time_heating">error</span></td>
                    </tr>
                    <tr>
                        <th class="text-end" scope="row">Delay:</th>
                        <td class="text-start"><span id="delay">error</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block offcanvas_script %}
        var myOffcanvas = document.getElementById('offcanvasBottom');
        var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas);
        var offcanvas_inner = document.getElementById("offcanvas_inner");
        var is_requesting = document.getElementById("requesting");
        var is_heating = document.getElementById("heating");
        var time_heating = document.getElementById("time_heating");
        var time_delay = document.getElementById("delay");
        var offcanvas_title = document.getElementById("offcanvasBottomLabel");
        console.log(loc.hash);
        if (loc.hash !== "") {
            bsOffcanvas.show();
        };
{% endblock %}

{% block offcanvas_update %}
    offcanvas_title.innerHTML = jsonfile[loc.hash.slice(1)+"_name"];
    if (jsonfile[loc.hash.slice(1)+"_requesting"] == true) {
        is_requesting.innerHTML = "yes";
    } else {
        is_requesting.innerHTML = "no";
    };
    if (jsonfile[loc.hash.slice(1)+"_heating"] == true) {
        is_heating.innerHTML = "yes";
    } else {
        is_heating.innerHTML = "no";
    };
    if (jsonfile[loc.hash.slice(1)+"_time_heating"] !== "") {
        time_heating.innerHTML = jsonfile[loc.hash.slice(1)+"_time_heating"];
    } else {
        time_heating.innerHTML = "error";
    };
    if (jsonfile[loc.hash.slice(1)+"_delay"] !== "") {
        time_delay.innerHTML = jsonfile[loc.hash.slice(1)+"_delay"];
    } else {
        time_delay.innerHTML = "error";
    };
{% endblock %}